.tablist
  %ul
    - if !session[:last_search_path].nil?
      - if request.path == session[:last_search_path]
        %li.active
          = link_to "Search Results", session[:last_search_path]
      - else
        %li
          = link_to "Search Results", session[:last_search_path]
    - if params[:controller] == "searches" and params[:action] == "new"
      %li.active
        = link_to "New Search", new_search_path        
    - else
      %li
        = link_to "New Search", new_search_path
    - if params[:controller] == "field_ministries"
      %li.active
        = link_to "Field Ministries Admin", field_ministries_path        
    - else
      %li
        = link_to "Field Ministries Admin", field_ministries_path