<h1>Listing field_m_ts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Date added</th>
  </tr>

<% @field_m_ts.each do |field_m_ts| %>
  <tr>
    <td><%=h field_m_ts.Name %></td>
    <td><%=h field_m_ts.URL %></td>
    <td><%=h field_m_ts.date_added %></td>
    <td><%= link_to 'Show', field_m_ts %></td>
    <td><%= link_to 'Edit', edit_field_m_ts_path(field_m_ts) %></td>
    <td><%= link_to 'Destroy', field_m_ts, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New field_m_ts', new_field_m_ts_path %>