<p>
  <b>Name:</b>
  <%=h @field_m_ts.Name %>
</p>

<p>
  <b>Url:</b>
  <%=h @field_m_ts.URL %>
</p>

<p>
  <b>Date added:</b>
  <%=h @field_m_ts.date_added %>
</p>


<%= link_to 'Edit', edit_field_m_ts_path(@field_m_ts) %> |
<%= link_to 'Back', field_m_ts_path %>