- form_for(field_ministry) do |f|
  = f.error_messages
  %p
    = f.label :name
    = f.text_field :name
  %p
    %label
      %abbr{:title => "eXtensible Markup Language"} XML
      %abbr{:title => "Universal Resource Locator"} URL:
    = f.text_field :xml_url
  %p
    = f.submit "Submit"