- form_for(search) do |f|
  = f.error_messages
  .left_column
    %p
      %label Based on existing search:
      = f.select :based_on, Search.all.collect { |s| [s.name, s.id] }
      -# javascript redirect to same page, passing in new based_on id
      = observe_field "search_based_on", :function => "location.href = '#{request.request_uri}'.replace(/\\?based_on=[0-9]+/, '') + '?based_on=' + value;"
    .clear
      &nbsp;
    %p
      = f.label :first_name
      = f.text_field :first_name
    %p
      = f.label :nickname
      = f.text_field :nickname
    %p
      = f.label :last_name
      = f.text_field :last_name
    %p
      = f.label :gender
      = f.select :gender, ["Male", "Female", "Unknown"], :include_blank => "(N/A)"
    .clear
      &nbsp;
    %p
      = f.label :suburb
      = f.text_field :suburb
    %p
      = f.label :christian, "Christian?"
      = f.select :christian, [["Yes",true],["No",false]], :include_blank => "(N/A)"
    .clear
      &nbsp;
    - unimplemented_section do
      %p
        = f.label :became_christian, "Became a Christian with CCCA?"
        = f.select :became_christian, [["Yes",true],["No",false]], :include_blank => "(N/A)"
      .clear
        &nbsp;
    %p
      = label_tag :age_range, "Age range (yrs)"
      = f.label :min_age, "Min: ", {:class => "tiny"}
      = f.text_field :min_age, :size => 7, :class => "floatLeft"
      = f.label :max_age, "Max: ", {:class => "tiny"}
      = f.text_field :max_age, :size => 7, :class => "floatLeft"
    .clear
      &nbsp;
    - unimplemented_section do
      %p
        = f.label :has_children
        = f.select :has_children, [["Yes",true],["No",false]], :include_blank => "(N/A)"
      .clear
        &nbsp;
      %p
        = f.label :oldest_child_age
        = f.text_field :oldest_child_age
    %p
      = f.label :church
      = f.select :church_id, Church.all(:order => "state_id ASC, suburb ASC").collect { |c| ["#{c.name} (#{c.suburb}, #{c.state.abbreviation})", c.id]}, :include_blank => "(N/A)"
  .right_column
    %p Involved in the following ministries:
    - for ministry in FieldMinistry.all
      %p
        = check_box_tag "search[field_ministry_ids][]", ministry.id, search.field_ministries.include?(ministry)
        = ministry.name
  .clear
    &nbsp;
  %p
    = f.submit "Submit"