.sectionHeader
  %h2 
    Search Results
    - if !@search.new_record?
      = " for &quot;#{@search.name}&quot; search"
    - else
      for custom search
.butDExcel{:style => "float:right;"}
  = link_to "Export Emails", "#"
  
.butDExcel{:style => "float:right;"}
  = link_to "Export as CSV", "#"

.yoursearch
  %p
    = pluralize(@results.size, "results")
    found.
    %br
  - if @search.new_record?
    - form_for(@search) do |f|
      %p
        %label Save search as:
        = f.text_field :name
        -# Put all the search criteria into hidden fields so we can create the search properly
        - @search.criteria.keys.each do |field|
          = f.hidden_field field
        -# also store the field_ministry_involvement_ids
        - @ministry_involvement_ids.each do |field_ministry_id|
          = hidden_field_tag "search[field_ministry_ids][]", field_ministry_id
      %p
        = f.submit "Save"
      

%table.directorytable{:cellspacing => 0, :cellpadding => 0}
  %thead.center
    %tr
      %th First Name
      %th Last Name
      %th Mobile
      %th Phone
      %th Email
      %th &nbsp;
  %tbody
    - @results.each_with_index do |result, i|
      %tr{:class => (i.even? ? "highlight" : "nohighlight"), :onclick =>"javascript:document.location = '#{person_path(result.person)}'"}
        %td=h result.person.first_name
        %td=h result.person.last_name
        %td=h result.person.mobile
        %td=h result.person.phone
        %td=h result.person.email
        %td.alignright
          %span.butProfile
            = link_to "Profile", person_path(result.person)
            =# link_to "Profile" client_path(@result)
