!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    - # Check if the web_title config option is set, and if so, use it
    %title
      CrusadeMT Prototype
    = stylesheet_link_tag "ext/ext-all", "style", "thickbox", "ext/xtheme-gray", :media => "screen", :cache => true
    = javascript_include_tag :defaults, 'thickbox-compressed', 'alternate', 'ext-jquery-adapter', 'ext-all', 'json',  'jquery.disable.text.select.pack', 'jquery.scrollTo-min', :cache => true
    = stylesheet_link_tag "/javascripts/jscalendar-1.0/skins/aqua/theme.css"
    = javascript_include_tag "jscalendar-1.0/calendar.js"
    = javascript_include_tag "jscalendar-1.0/lang/calendar-en.js"
    = javascript_include_tag "jscalendar-1.0/calendar-setup.js"
  %body
    #outer
      #wrapper
        #greenbar
          %h1#title
            = @ministry ? @ministry.name : 'CrusadeMT Prototype'
          = render :partial => 'tabnav/auth'
        .clear
          \&nbsp;
        - if flash[:notice]
          .flash.notice#flash_notice
            = flash[:notice]
        - else
          .flash.notice#flash_notice{:style => "display: none;"}
        - if flash[:warning]
          .flash.warning#flash_warning
            = flash[:warning]
        - else
          .flash.warning#flash_warning{:style => "display: none;"}

        #content
          = yield 'subtabs'
          = yield
          .clear
            \&nbsp;
          %br
    #addStudent{ :style => "display:none" }
    #footer
      %table{ :width => "100%" }
        %tr
          %td{ :width => "18%" }
            = image_tag("logo.png")
          %td{ :style => "font-size:11px;" }
            /
              <a href="">Help</a> &amp;nbsp;&amp;nbsp <br>
            Student Network is part of the
            %a{ :href => "http://www.ministryhacks.com/" }
              MinistryHacks Toolbox
          %td{ :align => "right" }
            %a{ :href => "http://www.ministryhacks.com/", :target => "_new" }
              = image_tag("mh_logo.png")